

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title><ion-icon name="person"></ion-icon> Profile</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    
    <div class="ion-padding">
      <ion-avatar class="avatar">
        <img src="https://i.boring.host/15G7acWX.png">
      </ion-avatar>
      <h2>Hi, I'm Nick</h2>
      <p>Joined in May, 2019</p>
    </div>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><ion-icon name="home"></ion-icon>Lives in Johannesburg, South Africa</p>
        <p><ion-icon name="mail"></ion-icon>Email address: nick.brinkmann4@gmail.com</p>
        <p><ion-icon name="call"></ion-icon>Phone number: +27820426996</p>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>User Information</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Number of Bookings Made: None</p>
        <p>Number of Reviews Received: None</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Reviews</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        *User Reviews Go Here*
      </ion-card-content>
    </ion-card>

  </ion-content>
