<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref='tabs'></ion-back-button>
    <ion-title *ngIf = "currentProperty">
      {{currentProperty.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentProperty">
    <ion-card-header>
      <ion-card-title>{{currentProperty.name}}</ion-card-title>
      <ion-card-subtitle>{{currentProperty.location}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <img src="{{currentProperty.imgname}}">
      </ion-avatar>
      <p>Price Per Night: ${{currentProperty.price}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Make A Reservation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-input [(ngModel)]="datefrom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-input [(ngModel)]="dateto"></ion-input>
      </ion-item>
      <ion-button (click) = "submit()">Book</ion-button>
      <!-- This button needs to be changed to include a function so that when 'book' is clicked, some function is actually called that carries it out -->
    </ion-card-content>
  </ion-card>
</ion-content>