<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="flash"></ion-icon> Explore Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
    *ngFor="let property of properties"
    (click)="navToProperty(property)"
    >
      <!-- The ABOVE IS ESSENTIAL. See TS for more; also see property details html and ts pages -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{property.name}}</ion-card-title>
          <ion-card-subtitle>{{property.price}} at {{property.address}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-avatar>
            <img src="{{property.imgName}}">
          </ion-avatar>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>