<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>

    <ion-title><ion-icon name="mail"></ion-icon> Inbox</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let message of messages">
    <ion-card-header>
      <ion-card-title>Sender: {{message.sender}}</ion-card-title>
      <ion-card-subtitle>Subject: {{message.subject}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{message.content}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
