<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref='tab5'></ion-back-button>
      </ion-buttons>
  
      <ion-title>Rental Details</ion-title>
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your Current Trip</ion-card-title>
      <ion-card-subtitle>You are currently on a trip in Lisbon, Portugal.</ion-card-subtitle>
    </ion-card-header>
        
    <ion-card-content>
      <ion-avatar style="size: 200%">
        <img src="https://i.boring.host/165TjKib.jpg" alt="A photo of a holiday home" />
      </ion-avatar>
      <ion-list>
        <ion-item>Location: Lisbon, Portugal</ion-item>
        <ion-item>Charge/Day: $50</ion-item>
        <ion-item>Owner name: Jane Doe</ion-item>
        <ion-item>Owner phone number: +351 123 456 789</ion-item>
        <ion-item>Your address: 35 Ruy de Sao Bento</ion-item>
      </ion-list>
    </ion-card-content>
        
  </ion-card>
</ion-content>

<!-- <p>Location: Lisbon, Portugal</p>
        <p>Charge/Day: $50</p>
        <p>Owner name: Jane Doe</p>
        <p>Owner phone number: +351 123 456 789</p>
        <p>Your address: 35 Ruy de Sao Bento</p> -->