<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    <ion-avatar>
      <img src="https://i.boring.host/15G7acWX.png">
    </ion-avatar>
    <h2>Hi, I'm Nick</h2>
  </div>

  <div class="ion-padding">
    <h4>About</h4>
    <p>Lives in Johannesburg, South Africa</p>
    <p>Email address: nick.brinkmann4@gmail.com</p>
    <p>Phone number: +27820426996</p>
  </div>
</ion-content>
